body {
    margin: 130px 0px;
}

.searchbar {
    width: 90%;
    height: 65px;
    background-color: rgb(192, 192, 192);
    margin: 0 auto;
}
.searchbar-size {
    width: 25%;
}
.searchbar a:hover{
    background-color: #ddd;
  color: black; 
}

/*
.searchbar {
    width: 90%;
    height: 75px;
    background-color: rgb(192, 192, 192);
    padding: 6px;
    border: none;
    margin
    font-size: 17px;
}
*/
.card1 {
    background-color: rgb(44, 236, 233);
    width: 33%;
    height: 60px;
    float: left;
    padding: 20px 10px;
    margin: 2px 2px 0px 47px;
}

.card2 {
    background-color: rgb(38, 197, 194);
    width: 150px;
    height: 80px;
    float: left;
    padding: 10px;
    margin:2px 2px 0px 0px
}
.card3 {
    background-color: rgb(35, 177, 174);
    width: 349px;
    height: 100px;;
    float: left;
    margin:2px 2px 0px 0px
}

.text-center {
    text-align: center;
}

.font-high {
    font-size: 18px;
}

.footer-margin {
    margin: 100px;
}